{% extends 'layout/nav.html' %}

<!-- Content block for individual page content -->
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resend verification</title>
</head>
<body>
    <!-- display an error message -->
    <div>
        {{ error }}
    </div>
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>
                Resend verification
            </button>
        </form>
    </div>
</body>
</html>
{% endblock %}